<div class="container-fluid">

  <form [formGroup]="formCadastroProduto">

    <div class="mb-3">
      <label for="nome" class="form-label">Nome</label>
      <input type="text" formControlName="nome" class="form-control validate-border-color" id="nome"
             name="nome" aria-describedby="nomeHelper">
      <span id="nomeHelper" class="form-text text-danger">Informa o nome do produto.</span>
    </div>

    <div class="mb-3">
      <label for="descricao" class="form-label">Descrição</label>
      <input type="text" formControlName="descricao" class="form-control validate-border-color" id="descricao"
             name="descricao">
    </div>

    <div class="mb-3">
      <div class="card" style="width: 25rem;">
        <img [src]="imagemCardUpload" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Imagem do produto</h5>
          <p class="card-text">Selecione a imagem do produto</p>
          <input class="form-control" type="file" formControlName="foto" id="foto" (change)="uploadImagem($event)">
        </div>
      </div>
    </div>

    <button type="button" (click)="cadastrarProduto()" class="btn btn-primary">Salvar</button>

  </form>

</div>

