<div class="container-fluid">

  <form [formGroup]="formCadastroProduto">

    <div class="mb-3">
      <label for="nome" class="form-label">Nome</label>
      <input type="text" formControlName="nome" class="form-control validate-border-color" id="nome"
             name="nome" aria-describedby="nomeHelper">
      <span id="nomeHelper" class="form-text text-danger">Informa o nome do produto.</span>
    </div>

    <div class="mb-3">
      <label for="descricao" class="form-label">Descrição</label>
      <input type="text" formControlName="descricao" class="form-control validate-border-color" id="descricao"
             name="descricao">
    </div>

    <div class="mb-3">
      <label for="foto"  class="form-label">Escolha o arquivo</label>
      <input class="form-control" type="file" formControlName="foto" id="foto" (change)="uploadImagem($event)">
    </div>

    <button type="button" (click)="cadastrarProduto()" class="btn btn-primary">Salvar</button>

  </form>

</div>

